.sole{
    text-align: center;
}
.img1{
    width: 450px;
    height: 300px;
    margin-left: 750px;
}
.make{
    margin: 20px;
    margin-top: -300px;
}
.white{
    width: 450px;
    height: 300px;
    margin: 20px;
}
.cover{
    width: 450px;
    height: 300px;
    margin: 20px;
}
